.flex{
    display: flex;
}

.image-square{
    width: 60px;
    height: 60px;
}

.align-center{
    text-align: center;
    padding: 8px 0 0 0;
}

.align-right{
    text-align: right;
    padding: 8px 50px 15px 0;
}

.cart-total{
    text-align: right;
    padding: 8px 75px 15px 0;
}

.btn-checkout{
    text-align: right;
    padding: 8px 45px 15px 0;
}