<h2>Frequently Asked Questions</h2>
<br /><hr /><br />

<form [formGroup]="faqForm">

<div class="flex">
      <input clrInput placeholder="Enter the keyword" id="keyword" name="keyword" [formControlName]="'keyword'" />
      <div style="margin: 8px 0 0 5px;"><button class="btn btn-primary" (click)="searchDisplayInitialPage()">Search</button></div>
</div>
<div *ngIf="faqForm.controls['keyword'].getError('required') && (faqForm.get('keyword')?.dirty || faqForm.get('keyword')?.touched)" style="color: red;">
  * This field is required
</div>
  
<br />

<clr-datagrid>

    <clr-dg-column>User ID</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Creation date</clr-dg-column>
    <clr-dg-column>Favorite color</clr-dg-column>

    <clr-dg-row *ngFor="let item of itemsDataGrid">
      <clr-dg-cell>{{ item.compositeKey }}</clr-dg-cell>
      <clr-dg-cell>{{ item.levelName }}</clr-dg-cell>
      <clr-dg-cell>{{ item.editTime }}</clr-dg-cell>
      <clr-dg-cell>{{ item.businessId }}</clr-dg-cell>
    </clr-dg-row>
  
  </clr-datagrid>

</form>