.flex{
	display: inline-flex;
}

.category-title{
    padding-left: 15px;
}

.image-square{
    width: 60px;
    height: 60px;
}

.image{
    width: 60px;
}

.category-box{
    padding-bottom: 20px;
}

.card-right{
    margin-left: 15px;
}

.strike-italic{
   text-decoration:line-through;
   font-style: italic; 
}

.event{
    text-align: center; 
    background-color: lightcoral;
}