<h2>Best Deals</h2>
<br /><hr />

<div class="clr-row clr-col-12">
  <div class="clr-col-3" *ngFor="let item of items">
    <div class="card">
      <h3 class="card-header">{{ item.name }}</h3>
      <div class="event" *ngIf="item.event">{{ item.event.name }} Event</div>
      <div class="event" *ngIf="item.event">{{ item.event.start_date | date: 'yyyy-MM-dd' }} ~ {{ item.event.end_date | date: 'yyyy-MM-dd' }}</div>
      <div class="card-block flex clr-col-12">
          <div class="card-text"><img [src]="item.image" class="image" /></div>
          <div class="card-text card-right">
            <div class="card-title">Store: {{ item.vendor.name }}</div>
            <div class="card-title">Price: <span class="strike-italic">${{ item.price }}</span>&nbsp;${{ item.price }}</div>
            <div class="card-title">Weight: {{ item.weight }}</div>
          </div>
      </div>
      <div class="card-footer clr-col-12">
        <button class="btn btn-sm btn-primary" (click)="addToCart(item)">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
