<h2>Account Setting</h2>
<br /><hr /><br />

<div class="clr-row clr-col-12">
    <div class="clr-col-12">
      <div class="card">
        <h3 class="card-header">Account Information</h3>
        <div class="card-block">
          <h4 class="card-title">Email</h4>
          <div class="card-text">...</div>
        </div>
        <div class="card-block">
          <h4 class="card-title">Password</h4>
          <div class="card-text">...</div>
        </div>
      </div>
    </div>
</div>

<div class="clr-row clr-col-12">
  <div class="clr-col-12">
    <div class="card">
      <h3 class="card-header">Personal Information</h3>
      <div class="card-block">
        <h4 class="card-title">Name</h4>
        <div class="card-text">...</div>
      </div>
      <div class="card-block">
        <h4 class="card-title">Phone</h4>
        <div class="card-text">...</div>
      </div>
      <div class="card-block">
        <h4 class="card-title">Address</h4>
        <div class="card-text">...</div>
      </div>
    </div>
  </div>
</div>