.flex{
	display: inline-flex;
}

.category-title{
    padding-left: 15px;
}

.image-square{
    width: 60px;
    height: 60px;
}

.image{
    width: 60px;
}

.category-box{
    padding-bottom: 20px;
}

.card-right{
    margin-left: 15px;
}

.event{
    text-align: center; 
    padding: 5px 0 5px 0;
    background-color: rgb(252, 252, 157);
}